.body {
    font-family: 'Inter', sans-serif;
    background: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px black;
}

.h2 {
    text-align: center;
    color: #314b66;
}

.label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.input,select,button {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 15px;
}

.button {
    background: greenyellow;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}

.results {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: lightskyblue;
}