/*In progress of rewriting to mobile optimized*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../Assets/images/city.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#Glassy {
    width:500px;
    color:black;
}

@property --angle {
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}

#calc {
    background-color: #1B263B;
    padding: 25px 30px;
    border-radius: 12px;
    width : 400px;
    position: relative;
}

#calc::after , #calc::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:conic-gradient(from var(--angle),#ade8f4,#48cae4,#0077b6,#023e8a,#48cae4,#ade8f4);
    border-radius:12px;
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding:5px;
    animation: 3s border1 linear infinite;
}

#calc::before {
    filter: blur(22px);
    opacity: 0.7;
}

@keyframes border1{
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

label, select, input {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

label {
    color:whitesmoke;
}

input, select {
    padding: 9px;
    border:none;
    border-radius: 6px;
    background-color: #415A77;
    color: white;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
    background-color: black;
    margin: 10px auto;
    border: none;
    color:azure;
    border-radius:18px;
    transition: 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elabel1 {
    display:flex;
    flex-direction: row;
    
}

#F_E {
    width:330px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#dist {
    width: 330px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#fueltype {
    padding: 7px;
    box-sizing: border-box;
    border:none;
    width: 70px;
    border-radius: 0px;
    background-color: #778DA9;
    color: white;
    text-align: center;
    outline: none;
    height:35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#res1 {
    padding: 8px;
    border:none;
    width: 382px;
    border-radius: 8px;
    background-color: #415A77;
    color: white;
    text-align: center;
    outline: none;
    height:auto;
}

#backbtn {
    width: 80px;
    height:40px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#distance {
    padding: 7px;
    box-sizing: border-box;
    border:none;
    width: 70px;
    border-radius: 0px;
    background-color: #778DA9;
    color: white;
    text-align: center;
    outline: none;
    height:35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

button:hover {
    transform: scale(1.02);
    background-color:#343a40;

}

button:active {
    transform: scale(1.07);
    border-radius: 22px;
    background-color: #495057;

}

#res1 {
    margin-top: 15px;
    text-align:center;
    font-size: 14px;
}

footer {
    position:fixed;
    bottom: 8px;
    font-size: 10px;
    color:darkgrey;
}

label {
    width:382px;
}

select {
    width: 100%;
}
